:root {
  --bg-col: white;
  --text-col: black;
  --a-col: blue;
  --a-vis-col: purple;
  --a-hov-col: blue;
  --a-bg-col: transparent;
  --i-hov-col: #00E3F6;
  --year-col: #427643;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-col: #1F2D33;
    --text-col: rgba(255, 255, 255, 87%);
    --a-col: #C7434B;
    --a-vis-col: #A93B42;
    --a-hov-col: white;
    --a-bg-col: #483D8B;
    --i-hov-col: #483D8B;
    --year-col: #E5E75F;
  }
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: justify;
  -moz-text-align-last: left;
  text-align-last: left;
  margin: 2rem auto;
  width: 75rem;
  max-width: 85%;
  line-height: 1.5;
  color: var(--text-col);
  background-color: var(--bg-col);
}

section {
  padding-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cambria, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
}

a:hover {
  text-decoration: none;
}

hr {
  border-top: 1px;
}

p {
  margin-top: 0;
}

a {
  color: var(--a-col);
}

a:visited {
  color: var(--a-vis-col);
}

a:hover {
  background-color: var(--a-bg-col);
  color: var(--a-hov-col);
}

.mono {
  font-family: Lucida Console, monospace;
}

#intro {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.info {
  padding: 3rem 3rem;
  display: flex;
  flex-flow: column nowrap;
  text-align-last: center;
  justify-content: center;
  max-width: 15rem;
  max-height: 15rem;
}

.info .head {
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
  border-radius: 25%;
  flex-grow: 1;
}

.info a {
  font-family: Lucida Console, monospace;
}

.info p {
  justify-content: center;
}

.info .languages {
  display: flex;
  justify-content: center;
}

.info .languages a {
  border-radius: 10%;
  margin: 1rem;
  padding: 0.3rem;
}

.info .languages a:hover {
  background-color: darkslateblue;
  color: white;
}

#intro .content {
  padding-top: 3rem;
  max-width: 50rem;
  flex-grow: 1;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons a:hover, .source a:hover {
  background-color: transparent;
}

.icon {
  border-radius: 25%;
  background-color: #add0f0;
  padding: 0.5rem;
  margin: 1rem 1.5rem 0;
}

.icon:hover {
  background-color: var(--i-hov-col);
}

.part h2 h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.part h3 {
  text-transform: uppercase;
}

.part {
  flex: 1 1 0;
  flex-flow: row nowrap;
  margin-bottom: 2rem;
}

.part .title {
  margin: 0;
}

.part .year {
  color: var(--year-col);
}

#skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 15%;
}

.source {
  display: flex;
  justify-content: center;
}